include LICENSE
include subscription_manager/bin/sat5to6
include subscription_manager/man/sat5to6.8
recursive-include subscription_manager/src/subscription_manager/migrate/ *
recursive-include subscription_manager/po *
